[MASTER]
# A comma-separated list of package or module names from where C extensions may
# be loaded. Extensions are loading into the active Python interpreter and may
# run arbitrary code.
extension-pkg-whitelist=PyQt5,frds.algorithms.isolation_forest.iforest_ext
init-hook='import sys; sys.path.append(".")'
